* {
    margin: 0;
}

/* header{
    background-image: url(./images/banner/banner3.png);
    width:100%;
    height: 408px;
} */
.banner {
    height: 508px;
    /* background-color:rgb(251, 100, 100); */
    background-image: url(./images/banner/banner3.png);
}

.text-banner {
    width: 400px;
    margin-left: 600px;
    padding-top: 150px;
}

.text {
    margin-left: 100px;
    width: 300px;
    text-align: end;
    color: white;
}

.text p {
    color: rgba(255, 255, 255, 0.736);
}
.text button {
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 4px;
}
/* failor section*/
.failureSection{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 80px;
}
.failureImg{
    width: 50%;
}
.failureImg img{
    width: 400px;

}
.failureText{
    width: 50%;
    padding-left: 30px;
}
.failor-P{
    color: grey;
}
.failure-Title{
    width: 80%;
    padding: 10px 10px 10px 0px;
}
.failureInnerText{
    width: 60%;
    margin-top: 150px;
    padding-left: 40px;
}
.failureChecklist{
    padding: 5px 5px 5px 0px;
    color: grey;
}
/* my plan  */
.my-plan{
    margin-top: 30px;
}
.my-plan h1{
    text-align: center;
}
.plan-items{
    padding-top: 20px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.plan-items img{
    width: 50px;
}
.single-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.single-item p{
    color: grey;
}
/* hand  section*/
.hand{
    margin-top: 80px !important;
    width: 60%;
    height: 200px;
    margin: auto;
    background-image: url(./images/watch.png);
}
.hand-text{
    width: 40%;
    margin-left: 20px;
    padding-top: 60px;
}
.hand-text button{
    margin-top: 7px;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 3px;
}
/* footer  */
footer{
    margin-top: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.feature{
    color: wheat;
    width: 50%;
    padding: 20px 20px 20px 60px;
}
.email{
    padding: 6px 0px;
}
.subscrib{
    width: 50%;
    padding: 40px 20px 20px 60px;
}
.subscrib input{
    margin: 30px 30px 30px 0px;
    outline: none;
}
.subscrib button{
    padding: 8px 15px;
    background-color: rgba(52, 52, 236, 0.668);
    border-radius: 4px;
    color: wheat;
}
.social-icon img{
    width: 30px;
    padding-top: 5px;
}